{% extends "basic_webshop/base.html" %}

{% load currency_tags %}

{% block content %}
    <h1>Product: {{ product }}</h1>
    
    <p>{{ product.description }}</p>
    
    <p>Price: {{ product.price|format_price }}</p>
    
    <p>Add to cart: 
        <form action="{% url cart_add %}" method="post">
            {% csrf_token %}
            
            {{ cartaddform.non_field_errors }}

            {{ cartaddform }}
            
            <input type="submit" value="Add to cart">
        </form>
    </p>
    
    <p><a href="{% url category_detail product.category.slug %}">Back to category {{ product.category }}</a></p>
{% endblock content %}